<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="robots" content="index, follow" />
  <title>{{page.title}}</title>
  <meta name="description"
  content="{{page.description}}">
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
  <meta property="og:title" content="Dawid Mazewski Portfolio" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.url }}{{ page.url | replace:'index.html',''}}" />
</head>
