.resume-part {margin-bottom: 10rem;}
.resume-right {

  @media screen and (max-width: 850px){
    width: 100% !important;
  }
}

.resume-left {
   height: 100%;
   padding-right: 2.5rem;

   @media screen and (max-width: 850px){
     width: 100% !important;
     position: static;
     height: auto !important;
     padding: 0;
     margin-bottom: 4rem !important;
     margin-left: 0 !important;
     margin-right: 0 !important;
   }
 }

.sticky-heading {
  position: sticky;
  top: 5rem;
  padding: 2rem 3.5rem;
  border-bottom-left-radius: .8rem;
  border-top-right-radius: .8rem;
  @include box-shadow;
  max-width: 320px;
  @media screen and (max-width: 850px){padding: 1.75rem;}
  .svg-container {display: inline;}
  h2 {display: inline;}
  &-purple{background-image: linear-gradient(120deg, darken($color5, 7), lighten($color5, 17));}
  &-blue {background-image: linear-gradient(120deg, darken($color4, 7), lighten($color4, 17));}
}


/*intro*/
.resume-intro {
  .grid-2-4.photo {
    text-align: right;
    @media screen and (max-width: 800px){
      width: 100%;
      text-align: center;
      margin-left: 0;
      margin-right: 0;
    }

    img {
      border-top-left-radius: .8rem;
      border-bottom-right-radius: .8rem;
      @include box-shadow;
      transform: rotate(2deg);
      width: 100%;
      max-width: 400px;
      @media screen and (max-width: 800px){
        transform: none;
      }

    }
  }

  .intro {
    display: flex;
    flex-direction: column;
    margin-left: -3rem !important;
    position: relative;
    z-index: 2;
    padding-top: 2rem;

    @media screen and (max-width: 800px){
      width: 100% !important;
      margin-left: 0 !important;
      margin-top: -10rem !important;
      align-items: center;
    }

    &-main{
      margin-bottom: 2.5rem;
      margin-left: -3rem;
      background-image: linear-gradient(120deg, darken($color5, 7), lighten($color5, 17));
      width: fit-content;
      padding: 2rem 3.5rem;
      border-bottom-left-radius: .8rem;
      border-top-right-radius: .8rem;
      @include box-shadow;

      @media screen and (max-width: 800px){
        margin-left: 0;
        width: 100%;
        max-width: 500px;
      }

    }

    &-links {
      margin-bottom: 2.5rem;
      display: flex;
      flex-direction: column;
      background-image: linear-gradient(120deg, darken($color4, 7), lighten($color4, 17));
      border-bottom-right-radius: .8rem;
      border-top-left-radius: .8rem;
      padding: 1rem 1.75rem;
      @include box-shadow;

      @media screen and (max-width: 800px){
        width: 100%;
        max-width: 560px;
      }


      a {
        color: white;
        margin-bottom: .5rem;
        text-decoration: none;
      }
    }

    &-about {
      text-align: justify;
      background-image: linear-gradient(120deg, darken($color5, 7), lighten($color5, 17));
      padding: 1rem 1.75rem;
      border-bottom-left-radius: .8rem;
      border-top-right-radius: .8rem;
      @include box-shadow;

      @media screen and (max-width: 800px){
        width: 100%;
        max-width: 560px;
      }
    }

  }
}


/*work entry*/

.work-entry {
  margin-bottom: 3.5rem;
  .work-date {font-size: 1.4rem; font-weight: 300; margin-bottom: 0.5rem; color: $color2;}
  .work-title {font-size: 1.8rem; margin-bottom: 3rem;}
  .work-title a {text-decoration: none; color: $color4;}
  .work-description p {margin-bottom: 2rem;}
  .work-description ul{padding-left: 2rem;}
  .work-description ul li {padding: 1rem 0;}
}

.resume-part-3 .work-entry .work-description {padding-left: 0;}


.project-entry {
  margin-bottom: 3.5rem;
  .project-top {margin-bottom: 1rem; }
  .project-title {font-size: 1.8rem; }
  .project-tags {
    margin: 1.5rem -0.5rem 1rem -0.5rem;
    width: 100%;
    .tag {display: inline-block; font-size: 1.2rem; padding: .5rem; font-weight: 700; border-radius: 1rem; margin: .5rem;}
    .tag-purple {
      background-color: $color5;
      background:linear-gradient(120deg, #b91a4e, #e9638f)
    }
    .tag-blue {
      background-color: $color4;
      background-image: linear-gradient(120deg, #4190ac, #92c4d6);
    }
  }
  .project-description {color: $color2; margin-bottom: .5rem;}
  .project-links {
    .project-link {display: block; margin: .5rem 0;}
  }
}

/*skillset*/
.skills-list{
  margin-bottom: 2.5rem;
  padding: 0 1.25rem;
  &-container {
    @media screen and (max-width:580px){
      width: 100% !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }
  .skills-title {margin-bottom: 3.5rem;}
  @media screen and (max-width: 580px){
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .skill{
    margin-bottom: 3rem;
    .skill-name h4{font-size: 1.8rem; margin-bottom: 0.5rem;}
  }
}

.resume-part-skillset .resume-right,
.resume-part-additional .resume-right {
  margin: 0.5rem -1.25rem !important;
}
