/* RGB */
$color1: #192a56;
$color2: #D9D0DE;
$color3: #DBFE87;
$color4: #53A2BE;
$color5: #D81E5B;

$color-black: #040303;
$color-white: #f4f4f4;

$color-grey-light: #eee;
$color-grey: #ccc;
$color-grey-med: #aaa;
$color-grey-dark: #888;

/*margins, grid-gaps, paddings */

$mar-s: 1rem;
$mar-m: 2rem;
$mar-b: 3rem;

$grid-gap: .5rem;
