.speech-bubble {
	position: relative;
	background: linear-gradient(135deg, lighten($color4, 10), $color4);
	border-radius: .4em;
	padding: 1rem;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 60%;
	width: 0;
	height: 0;
	border: 1rem solid transparent;
	border-top-color: lighten($color4, 10);
	border-bottom: 0;
	border-left: 0;
	margin-left: -5px;
	margin-bottom: -1rem;
}
