@keyframes gallery_animation-1 {
  0% {opacity:1;}
  14% {opacity:1;}
  28% {opacity:1;}
  42% {opacity:0;}
  56% {opacity:0;}
  70% {opacity:0;}
  84% {opacity:0;}
  99% {opacity:0;}
}

@keyframes gallery_animation-2 {
  0% {opacity:0;}
  14% {opacity:0;}
  28% {opacity:1;}
  42% {opacity:1;}
  56% {opacity:1;}
  70% {opacity:0;}
  84% {opacity:0;}
  99% {opacity:0;}
}

@keyframes gallery_animation-3 {
  0% {opacity:0;}
  14% {opacity:0;}
  28% {opacity:0;}
  42% {opacity:0;}
  56% {opacity:1;}
  70% {opacity:1;}
  84% {opacity:1;}
  99% {opacity:1;}
}
