{% include header.html %}

<div class="row">
        <div class="grid-3-4 box-container">
          <div class="box about-me_box clearfix">
            <h1 class="heading mar-bot-m">Dawid Mazewski - Portfolio</h1>
            <p>I'm <strong>Front-end developer</strong> and <strong>freelancer</strong>. I am looking for Front-end job.</p>
            <div class="row icons-row">
              <a href="resume.html" class="btn btn-light-blue btn-animate mar-top-m">Resume</a>
              <a href="#contact-form" class="btn btn-purple btn-animate mar-top-m">Contact</a>
            </div>
          </div>
        </div>

        <div class="grid-1-4 box-container">
          <div class="box project_box resume_box">
            <div class="background"></div>
            <div class="content">
              <h2 class="heading heading-underscored mar-bot-s">Resume.</h2>
              <p>Check it out.</p>
            </div>
            <div class="content-2">
              <a href="resume.html" class="icon-link"><svg role="img"><use xlink:href="assets/sprite.svg#briefcase"></use></svg></a>
              <a href="Profile.pdf" class="icon-link"><svg role="img"><use xlink:href="assets/sprite.svg#download"></use></svg></a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="grid-1-4 box-container">
          <div class="box project_box travello_box">
            <div class="box-type-title">
              <svg role="img"><use xlink:href="assets/sprite.svg#code"></use></svg>
              <span>Project</span>
            </div>
            <div class="background"></div>
            <div class="content">
              <h2 class="heading heading-underscored mar-bot-s">Travello</h2>
            </div>
            <div class="content-2">
              <a href="https://simpsonphile.github.io/travello" target="_blank" class="icon-link"><svg role="img"><use xlink:href="assets/sprite.svg#play"></use></svg></a>
              <a href="https://github.com/simpsonphile/travello" target="_blank" class="icon-link"><svg role="img"><use xlink:href="assets/sprite.svg#github"></use></svg></a>
            </div>
          </div>
        </div>

        <div class="grid-1-4 box-container">
          <div class="box project_box coolsolutions_box">
            <div class="box-type-title">
              <svg role="img"><use xlink:href="assets/sprite.svg#code"></use></svg>
              <span>Project</span>
            </div>
            <div class="background"></div>
            <div class="content">
              <h2 class="heading heading-underscored mar-bot-s">CoolSolutions</h2>
            </div>
            <div class="content-2">
              <a href="https://simpsonphile.github.io/coolsolutions" target="_blank" class="icon-link"><svg role="img"><use xlink:href="assets/sprite.svg#play"></use></svg></a>
              <a href="https://github.com/simpsonphile/coolsolutions" target="_blank" class="icon-link"><svg role="img"><use xlink:href="assets/sprite.svg#github"></use></svg></a>
            </div>
          </div>
        </div>

        <div class="grid-1-4 box-container">
          <div class="box project_box bbtan_box">
            <div class="box-type-title">
              <svg role="img"><use xlink:href="assets/sprite.svg#code"></use></svg>
              <span>Project</span>
            </div>
            <div class="background"></div>
            <div class="content">
              <h2 class="heading heading-underscored mar-bot-s">BBtan</h2>
            </div>
            <div class="content-2">
              <a href="https://simpsonphile.github.io/bbtan" target="_blank" class="icon-link"><svg role="img"><use xlink:href="assets/sprite.svg#play"></use></svg></a>
              <a href="https://github.com/simpsonphile/bbtan" target="_blank" class="icon-link"><svg role="img"><use xlink:href="assets/sprite.svg#github"></use></svg></a>
            </div>
          </div>
        </div>

        <div class="grid-1-4 box-container">
          <div class="box project_box spaceshipgame_box">
            <div class="box-type-title">
              <svg role="img"><use xlink:href="assets/sprite.svg#code"></use></svg>
              <span>Project</span>
            </div>
            <div class="background"></div>
            <div class="content">
              <h2 class="heading heading-underscored mar-bot-s">Spaceship game</h2>
            </div>
            <div class="content-2">
              <a href="https://simpsonphile.github.io/spaceship-game" target="_blank" class="icon-link"><svg role="img"><use xlink:href="assets/sprite.svg#play"></use></svg></a>
              <a href="https://github.com/simpsonphile/spaceship-game" target="_blank" class="icon-link"><svg role="img"><use xlink:href="assets/sprite.svg#github"></use></svg></a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="grid-1-4 box-container">
          <div class="box project_box followballs_box">
            <div class="box-type-title">
              <svg role="img"><use xlink:href="assets/sprite.svg#code"></use></svg>
              <span>Project</span>
            </div>
            <div class="background"></div>
            <div class="content">
              <h2 class="heading heading-underscored mar-bot-m">FollowBalls</h2>
            </div>
            <div class="content-2">
              <a href="https://simpsonphile.github.io/followballs" target="_blank" class="icon-link"><svg role="img"><use xlink:href="assets/sprite.svg#play"></use></svg></a>
              <a href="https://github.com/simpsonphile/followballs" target="_blank" class="icon-link"><svg role="img"><use xlink:href="assets/sprite.svg#github"></use></svg></a>
            </div>
          </div>
        </div>

        <div class="grid-1-4 box-container">
          <div class="box contact_box">
            <div class="content">
              <a class="btn btn-blue btn-pulse mar-top-s" href="#contact-form">Contact me</a>
            </div>
          </div>
        </div>

        <div class="grid-1-4 box-container">
          <div class="box social-box">

            <a href="https://linkedin.com/in/dawid-mazewski" alt="nofollow" class="external-link">
              <svg role="img"><use xlink:href="assets/sprite.svg#linkedin"></use></svg>
              <span>My linkedin profile</span>
            </a>

            <a href="https://github.com/simpsonphile" alt="nofollow" class="external-link">
              <svg role="img"><use xlink:href="assets/sprite.svg#github"></use></svg>
              <span>My github profile</span>
            </a>
          </div>
        </div>

        <div class="grid-1-4 box-container">
          <div class="box project_box blog_box">
            <div class="background"></div>
            <div class="content">
              <h2 class="heading heading-underscored mar-bot-s">Blog</h2>
            </div>
            <div class="content-2">
              <a href="/blog" class="icon-link"><svg role="img"><use xlink:href="assets/sprite.svg#play"></use></svg></a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="grid-2-4 box-container gallery_box-container">
          <div class="box project_box gallery_box">
            <div class="box-type-title">
              <svg role="img"><use xlink:href="assets/sprite.svg#code"></use></svg>
              <span>Project</span>
            </div>

            <div id="gallery_box_bgs">
              <div class="gallery-img gallery-img-1">
                <div></div>
              </div>
              <div class="gallery-img gallery-img-2">
                <div></div>
              </div>
              <div class="gallery-img gallery-img-3">
                <div></div>
              </div>
            </div>

            <div class="content">
              <h2 class="heading heading-underscored mar-bot-m">Gallery</h2>
            </div>

            <div class="content-2">
              <a href="https://codepen.io/simpsonphile/pen/gdMVMV" class="icon-link"><svg role="img" class="upload-icon"><use xlink:href="assets/sprite.svg#codepen"></use></svg></a>
            </div>
          </div>
        </div>

        <div class="grid-1-4 box-container">
          <div class="box switch-box">
            <div class="content">
              <div class="switch-wrapper">
                <p>particles<br />animation</p>
                <label class="switch" id="switch">
                  <input type="checkbox" id="checkbox-switch">
                  <div class="slider round"></div>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
{% include contact.html %}
{% include footer.html %}
